<% if tweet.errors.any? %>
  <div id='error_explanation'>
    <h2>
      <%= pluralize(tweet.errors.count, 'error') %> prohibited this tweet from being saved:
    </h2>
    <ul>
      <% tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="miltiline">
    <div class="column is-6 is-offset-3">
    <div class="content is-size-4">
      <h1 class="title has-text-centered"><%= title %></h1>
    </div>
    </div>
    <div class="column is-4 is-offset-4">
      <%= form_with model: tweet, local: true do |form| %>
        <div class="control">
            <p>
              <%= form.label :user, class: 'label is-large' %>
              <%= form.text_field :user, class: 'input is-rounded', placeholder: 'Your name' %>
            </p>
            <br>
          <div class="control">
              <p>
                <%= form.label :content, class: 'label is-large' %>
                <%= form.text_area :content, class: 'textarea is-large', placeholder: 'Your content' %><br>
              </p>
            <div class="control">
              <p>
                <%= form.submit submit, class: 'button is-success' %>
              </p>
            </div>
          </div>          
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
